In [2]:
import requests
import json
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [21]:
url = "https://api.binance.com/api/v3/klines"
symbol = "ETHUSDT"
interval ="1h"

startTime= str(int(dt.datetime(2021,11,14).timestamp()*1000))
endTime= str(int(dt.datetime(2021,11,15).timestamp()*1000))
limit ="1000"

req_p = {"symbol" : symbol , "interval": interval , 'startTime':startTime , 'endTime':endTime , 'limit':limit}

response = pd.DataFrame(json.loads(requests.get(url , params = req_p).text))
response=response.iloc[:,0:6]
response.columns=['Datetime' , 'Open' , 'High' , 'Low' , 'Close' , 'Volume' ]
response.index = [dt.datetime.fromtimestamp(x/1000) for x in response['Datetime']]
response=response.drop(columns = 'Datetime')
response.head()

,Open,High,Low,Close,Volume
2021-11-14 00:30:00,4660.78000000,4661.84000000,4642.00000000,4656.98000000,4573.99200000
2021-11-14 01:30:00,4656.98000000,4660.83000000,4636.37000000,4639.63000000,6325.63950000
2021-11-14 02:30:00,4639.62000000,4664.23000000,4632.79000000,4644.28000000,6464.76080000
2021-11-14 03:30:00,4644.27000000,4696.05000000,4636.83000000,4675.47000000,13798.05530000
2021-11-14 04:30:00,4675.47000000,4682.60000000,4650.00000000,4661.41000000,7442.80860000

In [3]:
                       #------------------------ function ------------------------#
def get_binance_datas (symbol, interval , startTime , endTime):
    ''' symbol="ETHUSDT or BTCUSDT , ..." , interval="1h,4h,8h,12h,1d", times = dt.datetime(2020,1,1) '''
    
    
    url = "https://api.binance.com/api/v3/klines"
    
    startTime= str(int(startTime.timestamp()*1000))
    endTime= str(int(endTime.timestamp()*1000))
    limit ="1000"
    req_p = {"symbol" : symbol , "interval": interval , 'startTime':startTime , 'endTime':endTime , 'limit':limit}
    response = pd.DataFrame(json.loads(requests.get(url , params = req_p).text))
    if len(response.index)==0 :
        return None
    response=response.iloc[:,0:6]
    response.columns=['Datetime' , 'Open' , 'High' , 'Low' , 'Close' , 'Volume' ]
    response.index = [dt.datetime.fromtimestamp(x/1000) for x in response['Datetime']]
    response=response.drop(columns = 'Datetime')
    return response

In [35]:
get_binance_datas('ETHUSDT' , '1h' , dt.datetime (2021,11,14) , dt.datetime(2021,11,15))

,Open,High,Low,Close,Volume
2021-11-14 00:30:00,4660.78000000,4661.84000000,4642.00000000,4656.98000000,4573.99200000
2021-11-14 01:30:00,4656.98000000,4660.83000000,4636.37000000,4639.63000000,6325.63950000
2021-11-14 02:30:00,4639.62000000,4664.23000000,4632.79000000,4644.28000000,6464.76080000
2021-11-14 03:30:00,4644.27000000,4696.05000000,4636.83000000,4675.47000000,13798.05530000
2021-11-14 04:30:00,4675.47000000,4682.60000000,4650.00000000,4661.41000000,7442.80860000
2021-11-14 05:30:00,4661.41000000,4667.81000000,4633.56000000,4635.65000000,6752.01640000
2021-11-14 06:30:00,4635.64000000,4648.01000000,4621.81000000,4628.63000000,7271.00190000
2021-11-14 07:30:00,4628.63000000,4648.47000000,4625.31000000,4633.40000000,4688.02070000
2021-11-14 08:30:00,4633.43000000,4647.13000000,4622.78000000,4642.11000000,6300.24570000
2021-11-14 09:30:00,4642.12000000,4656.30000000,4633.00000000,4638.71000000,8106.72000000
2021-11-14 10:30:00,4638.71000000,4641.00000000,4593.84000000,4598.40000000,14867.39340000
2021-11-14 11:30:00,4598.77000000,4608.56000000,4571.65000000,4584.09000000,13294.50470000
2021-11-14 12:30:00,4584.10000000,4605.25000000,4567.02000000,4590.48000000,9156.76520000
2021-11-14 13:30:00,4590.47000000,4615.74000000,4584.63000000,4606.10000000,7648.79680000
2021-11-14 14:30:00,4606.11000000,4614.00000000,4594.47000000,4612.45000000,4913.57250000
2021-11-14 15:30:00,4612.44000000,4634.64000000,4591.41000000,4619.28000000,7682.40840000
2021-11-14 16:30:00,4619.28000000,4628.07000000,4611.75000000,4612.37000000,6293.41240000
2021-11-14 17:30:00,4612.41000000,4612.42000000,4580.02000000,4593.63000000,10535.85840000
2021-11-14 18:30:00,4593.63000000,4594.86000000,4574.97000000,4583.91000000,7169.71910000
2021-11-14 19:30:00,4583.91000000,4590.11000000,4525.98000000,4537.24000000,34094.18700000
2021-11-14 20:30:00,4537.25000000,4563.14000000,4514.12000000,4556.61000000,14628.39570000
2021-11-14 21:30:00,4556.81000000,4571.19000000,4527.89000000,4548.38000000,9363.21120000
2021-11-14 22:30:00,4548.38000000,4548.54000000,4518.48000000,4545.01000000,9271.71330000
2021-11-14 23:30:00,4545.00000000,4560.81000000,4533.72000000,4552.76000000,5928.66940000

In [4]:

months = [dt.datetime(2021,i,1) for i in range(1,11)]
#months.append(dt.datetime(2021,1,1))
datalist = [get_binance_datas ('BTCUSDT' , '1h' , months[i] , months[i+1]-dt.timedelta(0,1)) for i in range(0,len(months)-1)]

In [5]:
df = pd.concat(datalist)
df.to_csv ('C:\Users\javadzadeh.PULSEWARE\Desktop\sla')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-5-fa470d6e32e5>, line 2)